.about {
	scroll-margin-top: 150px;
	margin-bottom: 50px;
	&__wrapper {
		width: 100%;
		// max-height: 500px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 50px;
	}

	&__info {
		width: 100%;
		// columns: 350px 2;
		font-size: var(--p-font-size);
	}

	.reason {
		.list {
			display: flex;
			flex-direction: column;
			gap: 50px;

			li {
				display: flex;
				flex-direction: column;
				gap: 10px;

				h3 {
					margin-bottom: 5px;
				}
			}
		}
	}
}
