.services {
	scroll-margin-top: 60px;
	position: relative;
	width: 100%;
	padding: 100px 0;
	/* background: linear-gradient(
		90deg,
		var(--tertiary-color) 0%,
		var(--quertiary-color) 100%
	); */
	min-height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;

	&__wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 50px;
	}
}

.container {
	position: relative;
	display: flex;
	gap: 50px;

	.question {
		padding: 50px 30px;
		max-width: 300px;
		width: 100%;
		background: var(--primary-color);
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&__title {
			font-size: var(--title-font-size);
			margin-bottom: 20px;
			background: -webkit-linear-gradient(
				-45deg,
				var(--quertiary-text-color),
				var(--secondary-text-color),
				var(--primary-text-color)
			);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	@media screen and (max-width: 800px) {
		flex-direction: column;
		gap: 100px;
		.question {
			max-width: none;
		}
	}
}

.service-cards-wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 50px;

	// @media screen and (max-width: 768px) {
	// 	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	// }
}

.service-cards-wrapper2 {
	display: flex;
	flex-direction: column;
	gap: 130px;
	position: relative;

	&::before {
		position: absolute;
		content: '';
		left: 0;
		width: 3px;
		border-radius: 10px;
		height: 100%;
		background: linear-gradient(
			0deg,
			transparent 0%,
			var(--tertiary-color) 20%,
			var(--quertiary-color) 80%,
			transparent 100%
		);
	}

	@media screen and (max-width: 768px) {
		gap: 80px;
	}
}
