@font-face {
	font-family: CodeLatin;
	src: url('../assets/fonts/Codelatin/MPLUSCodeLatin-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: NextDoor;
	src: url('../assets/fonts/NextDoor/TheGirlNextDoor-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: QuickSand;
	src: url('../assets/fonts/Quicksand/Quicksand-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: QuickSand;
	src: url('../assets/fonts/Quicksand/Quicksand-SemiBold.ttf');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: QuickSand;
	src: url('../assets/fonts/Quicksand/Quicksand-Medium.ttf');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: QuickSand;
	src: url('../assets/fonts/Quicksand/Quicksand-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}
